 
      *{
            margin: 1px;
            //padding: 0;
            
        }

        .image {
            max-width: 90vw;
            max-height: 100vh;
			height:auto;
			 top: 0;
			 float:right;
			 float:top;
			 margin-left:-10%;
             
        }
        .body {
           // align-content: center;
            //align-self:center;
			overflow: hidden;
        }
		.exifinfo
		{  float:left;
			//margin-left: 80%;
			  top: 0;
            width:1%; 
               right:0; 
                 bottom: 0;
				 overflow-wrap: break-word;
				 word-wrap: break-word;
				 max-width:1%
				 
		}
   