 
      *{
            margin: 1px;
            //padding: 0;
            
        }

        .image {
            max-width: 90vw;
            max-height: 100vh;
			height:auto;
             
        }
        .body {
            align-content: center;
            align-self:center;
			overflow: hidden;
        }
   